.container-one,
.container-two,
.container-three{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #f9faf8;
}

/* Header bar & Banner information */

.container-one{
    background-color: #1f2937;
    padding: 16px;
    justify-content: space-between; 
}

.header{
    padding-left: 100px;
}

.banner-title{
    font-size: 48px;
    font-weight: 900;
}

.brand{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}

.signup{
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: #f9faf8;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    height: 30px;
}

.right-side{
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 12px;
    padding-right: 100px;
    list-style: none;
}

/* Header bar ENDS */

/* Banner Information */

.container-two{
    background-color: #1f2937;
    display: flex;
    padding-left: 118px;
    height: 400px;
}

.banner{
    width: 400px;
}

/* Banner Information ENDS */


/* Display */

.container-three{
    display: flex;
    text-align: center;
    height: 400px;
    flex-direction: column;
    font-size: 12px;
}

.header-two{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
    padding: 30px;
}

.container-3-child{
    display: flex;
    justify-content: center;
    gap: 22px;
}


.info{
    display: flex;
    justify-content: center;
    max-width: 200px;
    color: black;
    flex-wrap: wrap;
}

.descriptons{
    padding: 10px;
}

/* Display ENDS */

/* Testimonial */

.container-four{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #e5e7eb;
}

.testimonial-text{
    display: flex;
    flex-direction: column;
    width: 720px;
}

.testimonial{
    display: flex;
    font-size: 32px;
    font-weight: lighter;
}

.name{
    display: flex;
    align-self: flex-end;
    padding-right: 20px;
}

/* Testimonial ENDS */

/* Sign up prompt */

.container-five{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.signup-container{
    display: flex;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    height: 140px;
    width: 950px;
    border-radius: 10px;
}

.signup-two{
    align-self: center;
    background-color: #3882F6;
    border: 1px solid #f9faf8;
    color: #f9faf8;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    height: 30px;
    margin-left: 150px;
}

.signup-tt{
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 100px;
}

.signup-title{
    font-size: 24px;
    font-weight: bold;
}

.signup-text{
    font-size: 18px;
    font-weight: lighter;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.footer-text{
    display: flex;
    align-self: center;
    
}

